@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#pls{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgb(255, 255, 255, 0.6);
}
#main-nav a{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-right: 30px;
    color: black;

}

.heading{
    display:flex;
    justify-content: center;
    font-family:'Montserrat', sans-serif;
    /* font-family: 'Sacramento', cursive; */
    font-size: 3em;

}

h1 p{
    font-size: larger;
}

div p{
    display: flex;
    justify-content: center;
}

.video{
    display:flex;
    justify-content: center;
    padding:15px;
}

.footer{
    display:flex;
    justify-content: center;
}
body{
    /* background: linear-gradient(0deg, rgba(255,183,178,1) 0%, rgba(199,206,234,1) 100%); */
    background-image: url("../images/zid.jpg");
}